.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.explore-menu h2 {
  font-weight: 500;
}
.explore-menu-text {
  width: 60%;
  font-size: max(0.9vw);
  color: gray;
}

.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.explore-menu-list::-webkit-scrollbar {
  display: none;
}
.explore-menu-list img {
  height: 160px;
  width: 8.5vw;
  min-width: 80%;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}

.explore-menu-list p {
  padding-top: 10px;
  cursor: pointer;
  font-size: max(1vw, 16px);
  color: rgb(103, 103, 103);
}
.explore-menu hr {
  margin: 0 0 10px 0;
  border: none;
  height: 2px;
  background-color: rgb(199, 199, 199);
}

.explore-menu-list-items .active {
  border: 6px solid tomato;
  padding: 3px;
}

@media (max-width: 1050px) {
  .explore-menu-list {
    max-width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .clear{
    margin: 0;
    border: 1px solid tomato;
    width: fit-content;
    padding: 1px 5px;
    border-radius: 50px;
    display: flex;
    right: 30px;
    position: absolute;
    bottom: 0;
    margin-top: 10px;
  }
  .clear p{
    font-size: 12px;
  }
  .explore-menu-text {
    width: 100%;
    font-size: 10px;
  }
  .explore-menu {
    gap: 10px;
    position: relative;
  }
  .explore-menu-list{
    gap: 15px;
    margin: 15px 0;
    font-size: 10px;
  }
  .explore-menu-list p {
    font-size: 12px;
}
  .explore-menu-list img {
    height: 90px;
    width: 90px;
}
    .explore-menu hr{
      background-color: rgb(230 230 230)
    }
}
